<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>OLO Security Systems</h1>

  <h2>
   Security for Every Home
   
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<p>
  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
</p>

